<!--base template-->
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head> 
    <meta charset="UTF-8">
    <title> Phoenix Flamme  </title>
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" >
</head>
<body>
  <p>
      <a href="{% url 'main:index' %}"> Phoenix Flamme</a>
      <a href="{% url 'main:categories' %}"> Товары</a>
      <a href="{% url 'main:topics' %}">Статьи</a>
      <a href="{% url 'main:feedback_list' %}">Отзывы</a>
      <a href="{% url 'main:contacts' %}">Контакты</a>
      <a href="{% url 'main:info' %}"> Информация</a>
      <div class="cart">
        {% with total_items=cart|length %}
            {% if cart|length > 0 %}
                Ваша корзина:
                <a href="{% url 'cart:cart_detail' %}">
                    {{ total_items }} шт, 
                    ₽{{ cart.get_total_price }}
                </a>
            {% else %}
                Корзина пока пуста
            {% endif %}
        {% endwith %}
    </div>
  </p>
  {% block content %} {% endblock content %}
</body>