<!--cart main template-->
{% extends "main/base_final.html" %}
{% load static %}
{% block content %}

<body>
  <div class="text-center">
    <h2>Ваша корзина</h2>
  </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for item in cart %}
            {% with product=item.product %}
                <tr>
                    <td>
                    <a href="{{ product.get_absolute_url }}">
                      <div class="text-center">
                        <img src="{{ product.photo1.url }}" width="150" height="150">
                      </div>
                    </a>  
                    </td>
                    <td class="text-center"> 
                        <h4>{{ product.title }}</h4>
                    <td class="text-start">
                          <h3>{{ item.quantity }}</h3>
                    </td>
                    <td >
                      <p> За шт </p>
                      <br>
                        <h5 class="card-title pricing-card-title">₽{{item.price}}</h5>
                    </td>
                    <td >
                        <p> Всего </p>
                        <br>
                          <h5 class="card-title pricing-card-title">₽{{ item.total_price }}</h5>
                      </td>
                    <td> 
                        <a class="btn btn-outline-secondary" href="{% url 'cart:cart_remove' product.id %}"> Удалить </a>
                   </tr>
            {% endwith %}
        {% endfor %}
        <tr>
            <td>
              <h4 class="card-title pricing-card-title">Итого к оплате</h4>
            </td>
            <td colspan="4"></td>
            <td>
              <h4 class="card-title pricing-card-title">₽{{ cart.get_total_price}}</h4>
            </td>
        </tr>
        <tr style="background-color: #336600">
            <td></td>
            <td colspan="4"></td>
            <td></td>
        </tr>
        </tbody>
    </table>
    <p class="text-right">
        <h5 class="card-title pricing-card-title">*Стоимость доставки: 300 ₽</h5>
        <a href="{% url 'main:categories' %}" class="btn btn-outline-secondary">Продолжить покупки</a>
        <a href="{% url 'orders:order_create' %}" class="btn btn-outline-success"> Оформить заказ </a>
    </p>
{% endblock %}
</body>