{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="ru">
    <head> 
      <meta charset="UTF-8">
      <title> Phoenix Flamme  </title>
      <link rel="stylesheet" type="text/css" href="{% static 'css/stylesheet.css' %}" >
    </head>
    <body>
      <nav class="navbar-dark navbar-expand-lg" style="background-color: #336600">
        <div class="container-fluid">
          <a class="navbar-brand">Phoenix Flamme</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav">
              <li class="nav-item">
               <a class="nav-link" href="{% url 'main:info' %}" >Доставка и оплата</a>
             </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'main:categories' %}">Товары</a>
              </li>
              <li class="nav-item">
               <a class="nav-link" href="{% url 'main:topics' %}">Авторская колонка</a>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'main:feedback_list' %}">Отзывы</a>
              </li>
             <li class="nav-item">
                <a class="nav-link" href="{% url 'main:contacts' %}">Контакты</a>
              </li>
           </ul>
          </div>
        </div>
      </nav>
      {% block content %} {%endblock content %}
    </body>
</html>