<!--feedbacks template-->
{% extends "main/base_final.html" %}
{% load static %}

<body>
  {% block content %}
  <div class="text-center">
    <br>
    <h1 >Ваши отзывы </h1>
      <br>
      {% for feedback in feedbacks %}
      <div style="background-color: #336600">
        <img src="{{ feedback.photo.url }}" class="rounded" width="600" height="600">
      </div>
      <div class="px-4 py-4 my-3 ">
        <p class="display-6 fw-bold">{{ feedback.name }}</p>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-3">{{ feedback.text | linebreaks }}</p>
        </div>
      </div>            
          {% empty %}
          <div class="col-sm-4 col-sm-6 mx-auto">
            <h1 class="fw-light">Здесь пока ничего нет, но вы можете это исправить!</h1>
        {% endfor %} 
        <a class="btn btn-primary" style="background-color: #336600" href="{% url 'main:add_feedback' %}">Оставить отзыв </a> 
  </div>
  {% endblock content %}
</body>
