<!--template for main page-->
{% extends "main/base_final.html" %}
{% load static %}
{% block content %}
  <p>
      <a href="{% url 'main:index' %}"></a>
      <p>Истории, рассказанные через ароматы </p>
      <h3> Новые чудеса в нашей лавочке</h3>
      {% for item in items %}
        <li>
          <img src="{{item.photo1.url}}" width="200" height="200">
          <br>
          <a href="{% url 'main:item' item.id %}" > {{item.title}} </a>
          <br>
          <p> {{ item.description | linebreaks }}</p>
        </li>
      {% endfor %}
  </p>
{% endblock content %}