<!--template for main page-->
{% extends "main/base_final.html" %}
{% load static %}
{% load bootstrap5 %}
{% bootstrap_javascript %}
<head>
  <title> Phoenix Flamme  </title>
</head>

<body>
  {% block content %}
  <div class="px-3 py-5 my-4 text-center">
    <img class="d-block mx-auto mb-4" src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold">Добро пожаловать, друг!</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Здесь истории, рассказанные через ароматы и немного простого волшебства. В нашем магазине для каждого найдется что-то по душе</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center"></div>
    </div>
  </div>
  <section class="py-5 text-center container-fluid" style="background-color: #336600">
    <div class="row py-lg-1">
      <div class="col-sm-6 col-sm-8 mx-auto">
        <h1 class="fw-light">Наши новинки</h1>
      </div>
      <div class="album py-5 bg-light">
        <div class="container-fluid" style="background-color: #336600">
          <div class="row row-cols-md-5 row-cols-sm-5 row-cols-md-4 g-3">
            {% for item in items %}
              <div class="col-md-3">
                <div class="card shadow-sm">
                  <img class="bd-placeholder-img card-img-top" width="150" height="300" src="{{item.photo1.url}}">
                  <div class="card-body">
                    <a class="card-link" href="{% url 'main:item' item.id %}"> {{item.title}} </a>
                    <p class="card-text">{{ item.description | linebreaks }}</p>
                    <h4 class="card-title pricing-card-title">₽{{item.price}}<h4>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
        </div>
    </div>
  </section>
  {% endblock %}
</body>
    
