<!--template for one item page-->
{% extends "main/base.html" %}
{% load static %}

<body>
    {% block content %}
  
      <img src="{{item.photo1.url}}">
      <img src="{{item.photo2.url}}">
      <p> Название {{ item.title}} </p>
      <p> Краткое описание {{ item.description | linebreaks }} </p>
      <p> Большое описание {{ item.text | linebreaks }}</p>
      <p> Цена {{ item.price }} рублей </p>
    
      <form action="{% url 'cart:cart_add' item.id %}" method="post">
          {{ cart_product_form }}
          {% csrf_token %}
          <input type="submit" value="Добавить в корзину">
      </form>
    
    {% endblock content %}
      

    