<!--template for one item page-->
{% extends "main/base.html" %}
{% load static %}

<body>
    {% block content %}
      <li>
          <img src="{{item.photo1.url}}">
          <img src="{{item.photo2.url}}">
          <p> Название {{ item.title}} </p>
          <p> Краткое описание {{ item.description | linebreaks }} </p>
          <p> Большое описание {{ item.text | linebreaks }}</p>
          <p> Количество  {{ item.quantity }} </p>
          
          <form action="{% url 'main:change_quan' item.id %}" method="get" >
            {% csrf_token %}
            <button type="submit" name="change_quan" > + </button> 
        </form>    
      </li>
    {% endblock content %}
      

    